/* style reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

/* color variables */
:root {
    --white: #fff;
    --white-ghost: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --main-dark: #42413c;
    --dark: #2a2626;
    --dark-ghost: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: var(--dark);
}

button {
    display: block;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: var(--white);
    background: var(--main);
    cursor: pointer;
}

header, section, article, footer {
    position: relative;
    z-index: 0;
    padding: 100px 0;
}

header:before, section::before {
    content: "";
    position: absolute;
    z-index: -1;   
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}

.container {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: 'Neucha', cursive;
    line-height: 1.2em;
    font-weight: 400;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

h1 span, h2 span, h3 span {
    display: block;
    color: var(--main);
}

.button {
    display: block;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: var(--white);
    background: var(--main);
}


.intro, .content {
    background: var(--light);
}

.intro--text {
    margin-top: 225px;
}


.intro--header {
    position: relative;
    z-index: 1;
    margin-top: 20px;
}


.intro--image {
    position: absolute;
    z-index: 0;
    height: 525px;
    top: -70px;
    right: -270px;
}

.row {
    display: flex;
}

.text-header {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
    color: var(--white);
    padding-left: 8px;
    margin-top: 100px;
    background: var(--brown);
}

.column {
    flex-basis: 50%;
}

.column:last-child {
    margin-left: 30px;
}

.column p:nth-child(2) {
    margin-top: 20px;
}

.intro--button {
    width: fit-content;
    line-height: 1;
    padding: 16px 24px;
    margin-top: 38px;
}

main {
    position: relative;
}

.media {
    text-align: center;
    padding-bottom: 479px;
    background: var(--white);
}

.media--video-label {
    display: block;
    margin-top: 30px;
}

.video-frame {
    display: block;
    position: absolute;
    z-index: 1;
    top: 335px;
    right: 0;
    left: 0;
    margin: 0 auto;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.navigation {
    padding-top: 200px;
    background: var(--dark);
}

.navigation--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.navigation--item {
    width: 350px;
    background: var(--light);
}

.navigation--link {
    display: block;
    height: 100%;
    padding: 24px;
}

.navigation--item:not(:first-child):hover {
    background: var(--main);
    color: var(--white);
}

.navigation--item:nth-child(n+1):hover h4 {
    color: var(--white);
}

.navigation--item:first-child {
    padding: 0;
    background: transparent;
}

.navigation--item:nth-child(-n+3) {
    margin-bottom: 20px;
}

.navigation--header {
    font-size: 52px;
    font-weight: 400;
    color: var(--white);
}


.navigation--item-number {
    font-family: 'Neucha', sans-serif;
    font-size: 64px;
    line-height: 1;
}

.navigation--item-header {
    font-family: 'Neucha', sans-serif;
    font-size: 34px;
    line-height: 40.8px;
    color: var(--main);
    margin-top: 30px;
}

.margin-top-4 {
    margin-top: 4px;
}

.content._brown {
    background: var(--brown);
}

._brown .content--parent,
._brown .content--header,
._brown .content--thesis,
._brown .column {
    color: var(--white);
}

._brown .text-header {
    color: var(--main-dark);
    background: var(--white);
}

.max-width-540 {
    max-width: 540px;
}

.content--parent {
    font-family: 'Neucha', sans-serif;
    font-size: 24px;
    line-height: 28.8px;
    color: var(--dark-ghost);
}

.margin-top-8{
    margin-top: 8px;
}

.content--thesis {
    display: block;
    font-family: 'Neucha', sans-serif;
    font-size: 34px;
    line-height: 40.8px;
    margin-top: 24px;
}

.content .row:nth-child(3) {
    margin-top: 20px;
}

footer {
    background: var(--white);
}

.subscribe {
    display: flex;
    align-items: center;
    height: 196px;
    background: var(--main-dark);
}

.subscribe--header {
    color: var(--white);
    padding-left: 52px;
}

.subscribe--label {
    font-size: 18px;
}

.subscribe--input-wrapper {
    color: var(--white);
}

.subscribe--input-wrapper > * {
    display: block;
}

.subscribe--input {
    display: inline;
    width: 75%;
    line-height: 1;
    padding: 16px 15px;
    margin-top: 8px;
    background: var(--white);
}

.subscribe--button {
    display: inline;
    width: 70px;
    height: 50px;
    vertical-align: bottom;
    margin-left: -5px;
}

.subscribe--button::after {
    content: url(../images/send.svg);
    display: block;
    margin-top: 5px;
}

.subscribe--reminder {
    display: block;
    font-size: 12px;
    margin-top: 8px;
}

.subscribe--reminder-link {
    color: var(--white);
    text-decoration: underline;
}

.authors {
    text-align: center;
    font-size: 14px;
    margin-top: 60px;
}

.authors span {
    display: block;
}

.authors span:nth-child(n+1){
    margin-top: 16px;
}

.authors span a {
    color: var(--blue);
    text-decoration: underline;
}